* {
	box-sizing: border-box;
}

body {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.App {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	padding: 20px;
	transform: translate(-50%, -50%);
}

.Button {
	position: relative;
	width: 200px;
	padding: 0 8px;
	margin: 0 20px;
	height: 62px;
	line-height: 62px;
	background: #3498db;
	color: #FFF;
	font-size: 18px;
	font-weight: 300;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	border: none;
	display: inline-block;
	border-radius: 2px;
	cursor: pointer;
	transition: 100ms ease;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.Button.is-loading {
	opacity: 0.8;
	cursor: default;
}
.Button-loader {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 14px;
}
.Button-loader:after {
	content: "";
	position: absolute;
	border: 2px solid transparent;
	border-top: 2px solid #FFF;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 100%;
	animation: spin 500ms ease-in-out infinite;
}

.Button.is-successful {
	background: #2ecc71;
}
.Button-checkmark {
	display: inline-block;
	margin-right: 6px;
}
.Button-checkmark:after {
	content: "\2713";
}
